@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');


/* PLANTILLA PARA TODAS LAS PAGINAS */

* {
    font-family: 'Lato', sans-serif;
}

.fs-6 {
    font-family: 'Roboto', sans-serif;
}

/* FONDO BLANCO PARA TODAS LAS PAGINAS */
body {
    background-color: rgb(255, 255, 255);
}

#person {
    width: 32;
    height: 32;
}

/* NAVBAR MAS GRANDE */
#cuadroNav {
    height: 58px;
}

/* TITULO PRINCIAPL DE LA PAGINA */
h1.titulo {
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}


#linea {
    color: #BB1167;
}

.dropdown-menu {
    width: 20px;
    font-size: 2px;
}

.dropdown-item {
    font-size: 17px;
}

li {
    width: 150px;
}


li.nav-item {
    font-weight: bold;
}




/* SUBTITULO PRINCIAPL DE LA PAGINA */
h2.subtitulo {
    margin-top: 35px;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

/* SEPARACION ENTRE ELEMNTOS EN LA NAVBAR */
li {

    font-size: 15px;
    color: white;
}


/* PLANTILLA PARA TODAS LAS PAGINAS */

/* CSS PARA LA TABLA DE LA CARTA DE LLAMADA */



tbody {
    display: block;
    max-height: 310px;
    overflow-y: scroll;
}

tbody::-webkit-scrollbar {
    display: none;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    border-radius: 10px 10px 0 0;
}


.tableContainer {
    position: relative;
    min-height: 50%;
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
}



tfoot {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* CSS PARA EL MAPA */

.mapa {
    filter: blur(4px);
    pointer-events: none;
}

/* HELPBOX BOTON */

.helpbox_boton{
background-color: #F9F9F9;
border:0;
}
