// Todo el contenido de scss aquí
$primary: #11ADC4;
$info: #E0127A;
textarea.form-control {
    resize: none;
}
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
