<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./terceros/bootstrap-5.2.1-dist/css/bootstrap.min.css">
  <script src="./terceros/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/tablas.css">
  <link rel="stylesheet" type="text/css" href="../css/css.css">

  <title>Administración</title>
</head>

<body>

  <div class="shadow rounded-bottom " id="cuadroNav" style="background-color: #0F9DB2;">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary  ">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">EMT(LOGO)</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- en el "ul" el ajuste en medio es "mx-auto"  y en el lado izquierdo "me-auto" -->
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active"
                  style="color: #ffffff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                  aria-current="page" href="#">EXPEDIENTES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                  style="color: #ffffff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                  aria-current="page" href="#">GRAFICOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                  style="color: #ffffff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                  aria-current="page" href="#">HELPBOX</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                  style="color: #ffffff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                  aria-current="page" href="#">AYUDA</a>
              </li>
            </ul>
            <a>
              <button class="btn btn-warning" style="color: #000000; font-weight: 700;" type="submit">
                <i class="bi bi-plus-circle-dotted"></i>
                Call card</button>
            </a href="#">

            <ul class="nav justify-content-end">
              <div class="nav-item dropdown d-flex">

                <a style="color: #F7C363; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="bi bi-person-circle"></i>
                </a>
                <ul class="dropdown-menu" style="color: #be964c;">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
              </div>
            </ul>


          </div>
        </div>
      </nav>
    </div>

  </div>
  <!-- br (espacio) para que salga el sombreado -->
  <br>
  <div class="container">
    <!-- titulos y subtitulos en card -->
    <div class="card  mx-5 text-center border-0">
      <div class="card-body ">
        <!-- TITULO Y SUBTITULO-->
        <div class="d-flex ">
          <h1 class="titulo">Administración</h1>
        </div>

        <hr id="linea" class="w-100 clearfix d-md m-0" />
        
        <div class="d-flex p-3">
          <h3 class="subtitulo">Usuarios</h3>
        </div>
      </div>
    </div>


    <!-- SELECCION USUARIOS  -->

    <div class="card mt-0 mx-5 text-center border-0">
      <div class="container text-center">
        <br>
        <div class="row">
          <div class="col-2">
            <!-- boton de añadir usuario -->
            <a class=" shadow btn btn-warning text-white rounded-3" href="#">
              <i class=" bi bi-plus-circle "></i>
              Nuevo usuario
            </a>
          </div>

          <!-- DESPLEGABLES DE ORDEN Y ACTIVOS  -->
          <div class="col-6">Columna vacia </div>
          <div class="col-2">
            <div class="form-floating">
              <select class="form-select rounded-4" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Todos</option>
                <option value="1">A-Z</option>
                <option value="2">Z-A</option>
              </select>
              <label for="floatingSelect">Ordenar:</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-floating">
              <select class="form-select rounded-4" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Todos</option>
                <option value="1">Activos</option>
                <option value="2">Desactivados</option>
              </select>
              <label for="floatingSelect">Mostrar:</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- EMPEZAMOS TABLA -->
    <div class="card mt-5 mx-5 text-center border-0">
      <div  class="card-body">
          <table  class="table table-striped border-3">
              <thead id="coltablas" class="shadow rounded text-white" >                
                <tr>
                  <th>UserName</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Tipo</th>
                  <th>Creado</th>
                  <th></th>
              </tr>
            </thead>          
              <tr>
                  <!-- @foreach ($cursos as $curso) -->
                      <td>nombre</td>
                      <td>nombre</td>
                      <td>apellido</td>                    
                      <td>operador</td>
                      <td>12-12-12</td>
                      <td>
                          <form
                              action="{{ action([App\Http\Controllers\CursController::class, 'destroy'], ['curso' => $curso->id]) }}"
                              class="float-end mx-1" method="POST">
                              <!-- @csrf -->
                              <!-- @method('DELETE') -->
                              <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i>
                                  <!-- Esborrar -->
                              </button>
                          </form>
                          <!-- {{-- {{ action([App\Http\Controllers\CursController::class, 'edit'], ['curs' => $curso->id]) }} --}} -->
                          <form action="" class="float-end" method="POST">
                              <!-- @csrf -->
                              <!-- @method('GET') -->
                              <button type="submit" class="btn btn-secondary"><i class="bi bi-pen"></i>
                                  
                              </button>
                          </form>
                      </td>
              </tr>
              <tr>
                <!-- @foreach ($cursos as $curso) -->
                    <td>nombre</td>
                    <td>nombre</td>
                    <td>apellido</td>                    
                    <td>operador</td>
                    <td>12-12-12</td>
                    <td>
                        <form
                            action="{{ action([App\Http\Controllers\CursController::class, 'destroy'], ['curso' => $curso->id]) }}"
                            class="float-end mx-1" method="POST">
                            <!-- @csrf -->
                            <!-- @method('DELETE') -->
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i>
                                <!-- Esborrar -->
                            </button>
                        </form>
                        <!-- {{-- {{ action([App\Http\Controllers\CursController::class, 'edit'], ['curs' => $curso->id]) }} --}} -->
                        <form action="" class="float-end" method="POST">
                            <!-- @csrf -->
                            <!-- @method('GET') -->
                            <button type="submit" class="btn btn-secondary"><i class="bi bi-pen"></i>
                                
                            </button>
                        </form>
                    </td>
            </tr>
            <tr>
              <!-- @foreach ($cursos as $curso) -->
                  <td>nombre</td>
                  <td>nombre</td>
                  <td>apellido</td>                    
                  <td>operador</td>
                  <td>12-12-12</td>
                  <td>
                      <form
                          action="{{ action([App\Http\Controllers\CursController::class, 'destroy'], ['curso' => $curso->id]) }}"
                          class="float-end mx-1" method="POST">
                          <!-- @csrf -->
                          <!-- @method('DELETE') -->
                          <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i>
                              <!-- Esborrar -->
                          </button>
                      </form>
                      <!-- {{-- {{ action([App\Http\Controllers\CursController::class, 'edit'], ['curs' => $curso->id]) }} --}} -->
                      <form action="" class="float-end" method="POST">
                          <!-- @csrf -->
                          <!-- @method('GET') -->
                          <button type="submit" class="btn btn-secondary"><i class="bi bi-pen"></i>
                              
                          </button>
                      </form>
                  </td>
          </tr>
<!-- @endforeach -->
<!-- @endif -->
</table>


<!-- paginación -->
<!-- {{ $cursos->links() }} -->

</div>
</div>


  </div>




</body>

</html>