<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./terceros/bootstrap-5.2.1-dist/css/bootstrap.min.css">
  <script src="./terceros/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>

  <!-- montserrat -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css"  href="../css/css.css">


 
  <title>Ayuda</title>
</head>

<body>
    
  <div class="shadow rounded-bottom " id="cuadroNav" style="background-color: #0F9DB2;">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary  ">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">EMT(LOGO)</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- en el "ul" el ajuste en medio es "mx-auto"  y en el lado izquierdo "me-auto" -->
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active"
                  style="color: #ffffff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                  aria-current="page" href="#">EXPEDIENTES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                  style="color: #ffffff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                  aria-current="page" href="#">GRAFICOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                  style="color: #ffffff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                  aria-current="page" href="#">HELPBOX</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                  style="color: #ffffff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                  aria-current="page" href="#">AYUDA</a>
              </li>
            </ul>
            <a>
              <button class="btn btn-warning" style="color: #000000; font-weight: 700;" type="submit">
                <i class="bi bi-plus-circle-dotted"></i>
                Call card</button>
            </a href="#">

            <ul class="nav justify-content-end">
              <div class="nav-item dropdown d-flex">

                <a style="color: #000000; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="bi bi-person-circle"></i>
                </a>
                <ul class="dropdown-menu" style="color: #be964c;">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
              </div>
            </ul>


          </div>
        </div>
      </nav>
    </div>

  </div>
  <div class="container">

    <h1 class="titulo">Ayuda</h1>

    <hr class="w-100 clearfix d-md" />
  
    <h2 class="subtitulo">Com utilitzo l’aplicació?</h2>


    <div id="explicacion1">
        <div class="container">
            Explicacion <br> <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec massa posuere, mollis sem nec, venenatis nisl. Nullam hendrerit erat id leo sagittis tincidunt. Aliquam ut leo consectetur quam vehicula tincidunt et a neque. Curabitur a massa a dolor porta efficitur. Praesent et molestie ante. Mauris eget neque tortor. Donec id diam in nisl rhoncus mattis. Morbi quis erat molestie, tincidunt orci ut, sodales.<br><br>
            Curabitur condimentum convallis dolor, ac cursus mauris iaculis vel. Cras suscipit sit amet risus quis gravida. Sed id aliquet tellus. Fusce suscipit orci a dui dapibus, sed pellentesque urna imperdiet. Donec luctus massa a quam vulputate, non facilisis est bibendum. Praesent pretium nulla in iaculis congue. Sed euismod ullamcorper pretium.
            Aliquam venenatis lobortis mi, sit amet lobortis est congue.<br> <br>
            Suspendisse finibus commodo tellus, quis molestie urna sollicitudin sed. Mauris eget luctus magna, sit amet dignissim leo. Mauris sodales nibh ante, sed tincidunt velit aliquam elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc auctor consectetur aliquam. In est leo, facilisis a sem eget, congue varius odio. Nulla sed justo nunc.
        </div>
    </div>

    <div id="explicacion">
        <img src="../Views/img/fondo_video.PNG" alt="Girl in a jacket" width="600" height="520">
    </div>

</body>

</html>