<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./terceros/bootstrap-5.2.1-dist/css/bootstrap.min.css">
  <script src="./terceros/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>

  <!-- montserrat -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css"  href="../css/css.css">


 
  <title>HelpBox</title>
</head>

<body>
    
  <div class="shadow rounded-bottom " id="cuadroNav" style="background-color: #0F9DB2;">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary  ">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">EMT(LOGO)</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- en el "ul" el ajuste en medio es "mx-auto"  y en el lado izquierdo "me-auto" -->
            <ul class="navbar-nav text-center mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" 
                  aria-current="page" href="#"> EXPEDIENTES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                  aria-current="page" href="#">GRAFICOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                  aria-current="page" href="#">HELPBOX</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                  aria-current="page" href="#">AYUDA</a>
              </li>
            </ul>
            <a>
              <button class="rounded-5 btn btn-warning" style="color: #000000; font-weight: 700;" type="submit">
                <i class="bi bi-plus-circle-dotted"></i>
                Call card</button>
            </a href="#">

            <ul class="nav justify-content-end">
              <div class="nav-item dropdown d-flex">

                <a style="color: #000000;"
                  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i id="person" class="bi bi-person-circle"></i>
                </a>
                <ul class="dropdown-menu" style="color: #be964c;">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
              </div>
            </ul>


          </div>
        </div>
      </nav>
    </div>

  </div>
  <div class="container">

    <h1 class="titulo">HelpBox</h1>

    <hr id="linea" class="w-100 clearfix d-md" />
  
    <h2 class="subtitulo">Traducciones</h2>


    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div id="card_incidentes_helpbox" class="card mt-0 mx-5 text-center border-0">
            <h4>INCIDENTES</h4>    
            <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">ESPAÑOL</th>
                        <th scope="col">INGLES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Apuñalamiento</td>
                        <td>Stabbing</td>
                      </tr>
                      <tr>
                        <td>Arbol caido</td>
                        <td>Fallen tree</td>
                      </tr>
                      <tr>
                        <td>Derrumbe</td>
                        <td>Collapse</td>
                      </tr>
                      <tr>
                        <td>Ahogamiento</td>
                        <td>Drowing</td>
                      </tr>
                      <tr>
                        <td>Arbol Caido</td>
                        <td>Fallen Tree</td>
                      </tr>
                      <tr>
                        <td>Incendio</td>
                        <td>Fire</td>
                        <tr>
                          <td>Explosion</td>
                          <td>Burst</td>
                        </tr>
                        <tr>
                          <td>Rescate</td>
                          <td>Rescue</td>
                        </tr>
                        <tr>
                          <td>Enfermedad</td>
                          <td>Collapse</td>
                        </tr>
                        <tr>
                          <td>Fallecimiento</td>
                          <td>Death</td>
                        </tr>
                        <tr>
                          <td>Desaparicion</td>
                          <td>Disappearance</td>
                        </tr>
                        <tr>
                          <td>Inundación</td>
                          <td>Flood</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
           </div>
        </div>
        <div class="col-sm">
          <div id="card_agencias_helpbox" class="card mt-0 mx-5 text-center border-0">
            <h4>AGENCIAS</h4>    
            <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">ESPAÑOL</th>
                        <th scope="col">INGLES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Bomberos</td>
                        <td>Firefighters</td>
                      </tr>
                      <tr>
                        <td>Guardia Costera</td>
                        <td>Coast Guard</td>
                      </tr>
                      <tr>
                        <td>Policia</td>
                        <td>Police</td>
                      </tr>
                      <tr>
                        <td>Ambulancia</td>
                        <td>Ambulance</td>
                      </tr> 
                    </tbody>
                  </table>
              </div>
           </div>

           <div id="card_ubicaciones_helpbox" class="card mt-0 mx-5 text-center border-0">
            <h4>UBICACIONES</h4>    
            <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">ESPAÑOL</th>
                        <th scope="col">INGLES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Provincia</td>
                        <td>Province</td>
                      </tr>
                      <tr>
                        <td>Municipio</td>
                        <td>Municipality</td>
                      </tr>
                      <tr>
                        <td>Carretera</td>
                        <td>Road</td>
                      </tr>
                      <tr>
                        <td>Entidad Población</td>
                        <td>Entity Population</td>
                      </tr> 
                    </tbody>
                  </table>
              </div>
           </div>
        </div>


        <div class="col-sm">
          <div id="card_preguntas_helpbox" class="card mt-0 mx-5 text-center border-0">
            <h4>INCIDENTES</h4>    
            <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">ESPAÑOL</th>
                        <th scope="col">INGLES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Desaparicion</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Tormentas</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Gople De Calor</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Ahogamiento</td>
                        <td>Drowing</td>
                      </tr>
                      <tr>
                        <td>Arbol Caido</td>
                        <td>Fallen Tree</td>
                      </tr>
                      <tr>
                        <td>Incendio</td>
                        <td>Fire</td>
                        <tr>
                          <td>Explosion</td>
                          <td>Burst</td>
                        </tr>
                        <tr>
                          <td>Rescate</td>
                          <td>Rescue</td>
                        </tr>
                        <tr>
                          <td>Enfermedad</td>
                          <td>Collapse</td>
                        </tr>
                        <tr>
                          <td>Fallecimiento</td>
                          <td>Death</td>
                        </tr>
                        <tr>
                          <td>Desaparicion</td>
                          <td>Disappearance</td>
                        </tr>
                        <tr>
                          <td>Inundación</td>
                          <td>Flood</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
           </div>
        </div>
      </div>
    </div>

    



     



</body>

</html>